$merlot: rgb(133, 23, 41);
$antiqueBr: rgb(199, 133, 86);
$otterBr: rgb(102, 64, 27);
$slimeGr: rgb(6, 161, 32);
$ltsLime: rgb(9, 227, 46);
$veryDkGr: rgb(8, 41, 6);
$easternBl: rgb(19, 148, 171);
$powderAsh: rgb(179, 201, 194);
$brTurq: rgb(36, 236, 240);
$warmPrpl: rgb(145, 48, 140);
$violetPk: rgb(252, 78, 243);
$blk: rgb(4, 18, 3);
