@import url('https://fonts.googleapis.com/css2?family=Handjet:wght@600;700&family=Orbitron:wght@400;500&family=Oswald:wght@300;400&family=Oxanium:wght@300;400&family=Press+Start+2P&display=swap');

// main font
$oswald: 'Oswald', sans-serif;

// headers
$handjet: 'Handjet', cursive;
$orbitron: 'Orbitron', sans-serif;
$oxanium: 'Oxanium', cursive;
$pressStart: 'Press Start 2P', cursive;
